:local(.frame) {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

:local(.frameHead) {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 20px;
}

:local(.frameBody) {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
