.textInputDiv {
  margin: 5px;
  font-family: sans-serif;
  position: relative;
  width: 230px;
}

.textInput {
  padding: 10px 7px;
  border: 2px solid #e9eaee;
  color: #ed4a29;
  font-size: 15px;
  width: calc(100% - 18px);
}

.textInput:focus {
  background-color: #e9eaee;
  outline: none;
  border-color: #e9eaee;
}

.textInputError {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1;
  height: 41px;
  padding: 0px 4px;
  width: 115px;
  margin-left: 5px;
  background-color: #f16767;
  color: white;
  text-align: center;
  line-height: 20px;
}

/* Date input */
.dateInputNumber::-webkit-inner-spin-button,
.dateInputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dateInputMonth::-webkit-inner-spin-button,
.dateInputMonth::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dateInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  /* border: 2px solid #e9eaee; */
  margin: 5px;
}
.dateInputDiv:focus {
  background-color: #ed4a29;
}

.dateInputNumber {
  width: 50px;
  text-align: center;
  color: #ed4a29;
  padding: 10px 0px;
  border: 2px solid #e9eaee;
}
.dateInputNumber:focus {
  background-color: #e9eaee;
  outline: none;
}

.dateInputMonth {
  width: 90px;
  text-align: center;
  color: #ed4a29;
  border: 2px solid #e9eaee;
}
.dateInputMonth:focus {
  background-color: #e9eaee;
  outline: none;
}

/* HourInput */
.hourInputNumber::-webkit-inner-spin-button,
.hourInputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hourInputDiv {
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hourInputNumber {
  text-align: center;
  width: 50px;
  color: #ed4a29;
  border: 2px solid #e9eaee;
  padding: 10px 0px;
}

.hourInputNumber:focus {
  background-color: #e9eaee;
  outline: none;
}

/* RangeInput */
.durationInputDiv {
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

/* Color Picker */
.colorPickerDiv {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.canvasColorPicker {
  cursor: pointer;
}

.colorDisplay {
  width: 100px;
}

/* Smart Time */
.smartTimeDiv {
  position: fixed;
  z-index: 100;
  top: 5%;
  left: 25%;
  border: 1px solid #383c45;
  background-color: #515765;
  border-radius: 6px;
  padding: 20px;
}

.smartTimeButtons {
  border: 1px solid #414755;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 20px;
}

.smartTimeBtn {
  height: 40px;
  width: 50%;
  background-color: #515765;
  border: none;
  color: #b2b8c4;
  cursor: pointer;
}

.smartTimeSelected {
  background-color: #414755;
}
/* Smart Calendar */

.smartCalHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
}
.smartCalHead > i {
  color: #666c7a;
  cursor: pointer;
  font-size: 25px;
}

.smartCalHead > i:hover {
  color: #989eae;
}
.smartCalTitle {
  color: #989eae;
}

.smartCalBody {
  text-align: center;
}

.smartCalBodyHeader {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.smartCalDayName {
  font-size: 14px;
  color: #7e8493;
  font-family: sans-serif;
  font-weight: 600;
  width: 30px;
}

.smartCalBodyTable {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(7, 33px);
  grid-auto-rows: 26px;
  grid-gap: 8px;
  place-items: center;
}

.smartCalDay {
  font-family: sans-serif;
  font-size: 15px;
  width: 30px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  cursor: pointer;
  color: #666c7a;

  /* background-color: #2e323b; */
}
.smartCalDayAfter {
  color: #989eae;
}
.smartCalDayToday {
  text-decoration: underline;
}

.smartCalDay:hover {
  /* //font-weight: bold; */
  background-color: #3c4049;
}

.smartCalEmpty {
  width: 30px;
  height: 24px;
}

.smartCalendarSave {
  background-color: #13a9ba;
  border: none;
  color: white;
  padding: 13px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  border-bottom: 1px solid #10909e;
}

/* CategoryPicker */
.categoryPickerDiv {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.categoryPickerTopBar {
  background-color: #fefefe;
  padding: 5px;
}

.categoryPickerList {
  overflow: auto;
}

.categoryPickerLabel {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.nestedAngleCategory {
  width: 16px;
  color: black;
  text-align: center;
  font-weight: bold;
}
.nestedAngleCategory:hover {
  background-color: #e9eaee;
  border-radius: 5px;
}

/* Search input */
.searchInputContainer {
  background-color: #c4c4c4;
  border: 2px solid #c4c4c4;
  width: 350px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.searchInputContainer:focus-within {
  border-color: #ffc200;
  background-color: #fff;
}

.searchInput {
  width: 80%;
  border: none;
  -webkit-appearance: none;
  height: 25px;
  margin: 3px 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
}
.searchInput:focus {
  border: none;
  outline: none;
  color: #000;
}

.searchInputIcon {
  margin: 3px 0;
}
.searchInputContainer:focus-within .searchInputIcon path {
  fill: #ffc200;
}

.resultsContainerList {
  width: 350px;
  padding: 10px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: inset 0px 12px 26px rgba(0, 0, 0, 0.3);
  list-style-type: none;
  margin: none;
}

.resultsItem {
  padding: none;
  margin: none;
  display: flex;
  flex-direction: row;
}

.resultsItemImage {
  width: 52px;
}
.resultsItemImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.resultsItemDescription {
}
